<h1>Queues</h1>
<table border="1">
    <tr>
        <th align="center">name</th>
        <th align="center">len</th>
    </tr>
    {{range $key, $value := .Queues}}
    <tr valign="top">
        <td align="left">{{$key}}</td>
        <td align="right">{{$value}}</td>
    </tr>
</table>
{{end}}

<h1>Workers</h1>
<table border="1">
    <tr>
        <th align="center">name</th>
        <th align="center">processed</th>
        <th align="center">failed</th>
    </tr>
    {{range $key, $value := .Workers}}
    <tr valign="top">
        <td align="left">{{$key}}</td>
        <td align="right">{{$value.Processed}}</td>
        <td align="right">{{$value.Failed}}</td>
    </tr>
    {{end}}
</table>


<h1>Failed</h1>
<table border="1">
    <tr>
        <th align="center">payload</th>
        <th align="center">created at</th>
        <th align="center">failed at</th>
        <th align="center">error</th>
    </tr>
    {{range $key, $value := .Failed}}
    <tr valign="top">
        <td align="left">{{$value.Payload}}</td>
        <td align="left">{{$value.CreatedAt}}</td>
        <td align="left">{{$value.FailedAt}}</td>
        <td align="left">
            <pre>{{$value.Error}}</pre>
        </td>
        <td align="left"><button>retry</td>
        <td align="left"><button>delete</td>
    </tr>
    {{end}}
</table>